.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 720px;
  height: 900px;
  align-items: flex-start;
}
.purple_Back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
}
.rectangle3985 {
  position: absolute;
  left: 0;
  top: 0;
  width: 720px;
  height: 700px;
  background-color: rgb(245, 246, 249);
  background: linear-gradient(90deg, rgba(245,246,249,1) 1%, rgba(255, 255, 255, 0) 15%,rgba(255, 255, 255, 0) 85%, rgba(245,246,249,1) 99%);
  -webkit-mask-image:/* webpackIgnore: true */ url('/images/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/images/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 0px;
  mask-position: 0px 0px;
  -webkit-mask-size: 720px 900px;
  mask-size: 720px 900px;
  z-index: 1;
}
.frame9 {
  position: absolute;
  left: -52.2211px;
  top: 17.7002px;
  width: 824.1302px;
  height: 588.8771px;
  flex-direction: column;
  align-items: flex-start;
  gap: -0.7445px;
  -webkit-mask-image:/* webpackIgnore: true */ url('/images/grid.svg');
  mask-image:/* webpackIgnore: true */ url('/images/grid.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -29.77886962890625px -6.7002458572387695px;
  mask-position: -29.77886962890625px -6.7002458572387695px;
  -webkit-mask-size: 883.68798828125px 606px;
  mask-size: 883.68798828125px 606px;
}
.frame1, .frame10 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.03;
}
.rectangle {
  width: 59.5577px;
  height: 59.5577px;
  outline: solid 0.7445px #a39ec6;
  outline-offset: -1px;
}
.rectangleFirst {
  width: 59.5577px;
  height: 59.5577px;
  outline: solid 0.7445px #a39ec6;
  outline-offset: -1px;
  opacity: 0;
}
.rectangleLast {
  width: 59.5577px;
  height: 59.5577px;
  outline: solid 0.7445px #a39ec6;
  outline-offset: -1px;
  opacity: 0;
}
.rectangleBackGround {
  width: 59.5577px;
  height: 59.5577px;
  outline: solid 0.7445px #a39ec6;
  outline-offset: -1px;
  background-color: #a39ec640;
}

.frame8 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.05;
}

.frame2 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.08;
}

.frame3 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.1;
}

.frame4 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.1;
}

.frame5 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.1;
}

.frame6 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.1;
}

.frame7 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.08;
}

.frame92 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: -0.7445px;
  opacity: 0.07;
}

.findAndContactEveryPotentialCu {
  color: #151515;
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  font-family: Mulish, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12.2222%;
  right: 18.4722%;
  top: 84%;
  bottom: 7.1111%;
  height: min-content;
  flex-direction: column;
}
.logo {
  color: #151515;
  font-size: 24px;
  line-height: 48px;
  font-weight: 900;
  font-family: Mulish, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 12.2222%;
  right: 78.0556%;
  top: 77.7778%;
  bottom: 16.8889%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.avatarImage {
  position: absolute;
  left: 53.75%;
  right: 36.25%;
  top: 37.1111%;
  bottom: 54.8889%;
  border-radius: 130px;
  background-color: #d3d6da;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatarImage2 {
  position: absolute;
  left: 63.4722%;
  right: 26.5278%;
  top: 67.4444%;
  bottom: 24.5556%;
  border-radius: 130px;
  background-color: #ffcd66;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector6 {
  position: absolute;
  left: 63.75%;
  right: 21.8056%;
  top: 41.1111%;
  bottom: 32.6667%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.ellipse144 {
  position: absolute;
  left: 67.9167%;
  right: 30.9722%;
  top: 67%;
  bottom: 32.1111%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.avatarImage3 {
  position: absolute;
  left: 74.8611%;
  right: 18.4722%;
  top: 50.6667%;
  bottom: 44%;
  border-radius: 130px;
  background-color: #aaeb87;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ellipse146 {
  position: absolute;
  left: 63.1944%;
  right: 35.6944%;
  top: 40.6667%;
  bottom: 58.4444%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.ellipse147 {
  position: absolute;
  left: 74.3056%;
  right: 24.5833%;
  top: 52.8889%;
  bottom: 46.2222%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.ellipse155 {
  position: absolute;
  left: 77.6389%;
  right: 21.25%;
  top: 50.2222%;
  bottom: 48.8889%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.avatarImage4 {
  position: absolute;
  left: 25.5556%;
  right: 64.4444%;
  top: 54%;
  bottom: 38%;
  border-radius: 130px;
  background-color: #a5a7ff;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatarImage5 {
  position: absolute;
  left: 12.2222%;
  right: 81.1111%;
  top: 36%;
  bottom: 58.6667%;
  border-radius: 130px;
  background-color: #d3d6da;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatarImage6 {
  position: absolute;
  left: 30.2778%;
  right: 63.0556%;
  top: 18.6667%;
  bottom: 76%;
  border-radius: 130px;
  background-color: #b1e0f4;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector4 {
  position: absolute;
  left: 15.5556%;
  right: 66.4583%;
  top: 24%;
  bottom: 64.0556%;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.ellipse151 {
  position: absolute;
  left: 33.0556%;
  right: 65.8333%;
  top: 23.5556%;
  bottom: 75.5556%;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 18.75%;
  right: 69.4444%;
  top: 38.6667%;
  bottom: 46.0556%;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.ellipse153 {
  position: absolute;
  left: 18.3333%;
  right: 80.5556%;
  top: 38.2222%;
  bottom: 60.8889%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.ellipse154 {
  position: absolute;
  left: 30%;
  right: 68.8889%;
  top: 53.5556%;
  bottom: 45.5556%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.ellipse152 {
  position: absolute;
  left: 15%;
  right: 83.8889%;
  top: 35.5556%;
  bottom: 63.5556%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.avatarImage7 {
  position: absolute;
  left: 48.75%;
  right: 41.25%;
  top: 6.7778%;
  bottom: 85.2222%;
  border-radius: 130px;
  background-color: #ffd8b4;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatarImage8 {
  position: absolute;
  left: 82.2222%;
  right: 11.1111%;
  top: 13%;
  bottom: 81.6667%;
  border-radius: 130px;
  background-color: #b1e0f4;
  background-image:/* webpackIgnore: true */ url('/images/avatarImage8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector3 {
  position: absolute;
  left: 53.75%;
  right: 14.5139%;
  top: 15%;
  bottom: 78.5556%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.ellipse148 {
  position: absolute;
  left: 85%;
  right: 13.8889%;
  top: 17.8889%;
  bottom: 81.2222%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.ellipse149 {
  position: absolute;
  left: 53.1944%;
  right: 45.6944%;
  top: 14.3333%;
  bottom: 84.7778%;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
