@import 'mixins';

.searchForm {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 132px 102px 30px;

    & input {
        width: 205px;
        height: 41px;
        margin-left: 10px;
        border-radius: 5px;
        @include flex(flex-start, flex-start, column);
    }

    & .jobTitleStyle {
        margin-top: 20px;
        letter-spacing: -0.7px;
        word-spacing: -2px;
        font-weight: 600;
        font-size: 17px;
        & span {
            position: absolute;
            top: 15px;
            left: 48px;
        }

        & input {
            margin-top: 0px;
            padding-left: 6px;
            font-size: 15px;
        }

        & .inputPlaceHolder {
            position: relative;
            top: 36px;
            left: 14px;
            height: auto;
            width: 100px;
            font-size: 16px;
            letter-spacing: -0.1px;
            font-weight: 200;
        }

        & .titleIconStyle {
            position: relative;
            top: -1px;
            left: 9px;

        }

        & .searchIconStyle {
            position: relative;
            top: 38px;
            left: 6px;
        }
    }

    & .lineFirst,
    .lineSecond {
        position: absolute;
        top: 102px;
        left: 25px;
        width: 201px;
        border-bottom: 1.2px solid rgb(168, 168, 168);
    }

    & .lineSecond {
        position: absolute;
        top: 206px;
        left: 25px;

    }
}