@mixin flex ($justify-content, $align-items, $flex-direction: null) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    @if($flex-direction){
        flex-direction: $flex-direction;
    }
}

  // responsive

  @mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  }