$prime-color: rgb(54, 38, 167);
$prime-light-color: rgb(201, 193, 255);
$black-color: rgb(21, 21, 21);
$white-color: rgb(255, 255, 255);
$grey-light-color: rgb(245, 246, 249);
$grey-color: rgb(231, 232, 239);
$grey-dark-color: rgb(145, 149, 164);
$error-color: rgb(246, 127, 127);

// responsive 

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

