@import '_variables';

.mainContainer {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    text-align: center;
    font-size: 30px;
    color: $prime-color;
    & a {
        text-decoration: none;
    }
}