@import 'mixins';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;600;700&display=swap');

.searchPageContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1440px;
    height: 900px;
    background-color: $white-color;
}

.topContainer {
    position: absolute;
    left: 252px;
    width: 1188px;
    height: 71px;
    border-top: 0.5px solid $grey-color;
    border-right: 0.5px solid $grey-color;
    border-bottom: 0.5px solid $grey-color;
}

.totalStyle {
    position: relative;
    top: 21px;
    left: 23px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Mulish';
}
.elipse2M {
    position: relative;
    top: -12px;
    left: 90px;
    width: 78px;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    @include flex (center, center);
    color: $prime-color;
    background-color: $grey-color;
}
.elipseKM {
    position: absolute;
    top: 24px;
    right: 25px;
    width: 30px;
    height: 31px;
    border-radius: 2px;
    font-size: 14px;
    @include flex (center, center);
    background-color: $grey-color;
}

.leftSideContainer {
    position: absolute;
    width: 252px;
    height: 900px;
    border: 0.5px solid $grey-color;
}

.logo {
    position: relative;
    top: 22px;
    left: 23px;
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
    color: $prime-color;
}
.formTitle {
    position: relative;
    top: 68px;
    left: 22px;
    width: 130px;
    height: auto;
    font-size: 18px;
    font-weight: 700;
    @include flex(flex-start, center);
    & .countFilters {
        width: 30px;
        height: 20px;
        font-size: 12px;
        margin-left: 8px;
        text-align: center;
        border-radius: 20px;
        background-color: $grey-color;
    }
    & .countFiltersHidden {
        width: 30px;
        height: 20px;
        font-size: 12px;
        margin-left: 8px;
        text-align: center;
        border-radius: 20px;
        background-color: $grey-color;
        visibility: hidden;
    }
}
.resetFilters {
    position: relative;
    top: 47px;
    left: 160px;
    font-size: 14px;
    color: darkblue;
    cursor: pointer;
    &:active {
        color: $grey-color;
    }
}
.resetFiltersHidden {
    position: relative;
    top: 47px;
    left: 160px;
    font-size: 14px;
    color: darkblue;
    cursor: pointer;
    &:active {
        color: $grey-color;
    }
    visibility: hidden;
}
.searchFormContainer {
    position: relative;
    top: 62px;
    width: 252px;
    height: 313px;
    @include flex (center, center);
    border-top: 0.5px solid $grey-color;
    border-bottom: 0.5px solid $grey-color;
}

.centerContiner {
    position: relative;
    top: 70px;
    left: 252px;
    width: 1188px;
    height: 830px;
}
.arrowIconAndTextContainer {
    position: absolute;
    top: 102px;
    left: 24px;
    width: 190px;
    height: 20px;
    padding: 20px;
    @include flex (flex-start, center, column);
    
    & div {
        margin-top: -8px;
        font-size: 14px;
        font-weight: 700;
        word-spacing: -2px;
        line-height: 19px;
    }

    & .arrowIconStyle {
        position: absolute;
        left: 0px;
        top: -1px;
    }
}
.welcomeMessage {
   position: absolute;
   top: 148px;
   left: 410px;
   width: 368px;
   height: 193px;
   & img {
    position: absolute;
    top: -3.2px;
    left: 83px;
   }
   & .welcomeText {
      position: absolute;
      top: 145px;
      left: 1px;
      bottom: 0;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      word-spacing: -2px;
      line-height: 25px;
   }
}
.resentSearches {
    position: absolute;
    top: 398px;
    left: 350px;
    width: 488px;
    height: 200px;
    border-radius: 12px;
    border: 0.5px solid $grey-color;
    @include flex(center, center, column);
    & img {
        position: absolute;
        top: 53px;
        left: 203px;
    }
    & .topSection {
        position: absolute;
        top: 0;
        width: 488px;
        height: 38px;
        border-bottom: 0.5px solid $grey-color;
        & img {
            position: absolute;
            top: 10px;
            left: 15px;
        }
        & span {
            position: absolute;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.15px;
            top: 8px;
            left: 40px;
        }
    }
    & .bottomText {
        position: absolute;
        bottom: 0;
        width: 200px;
        height: 60px;
        text-align: center;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: -0.09px;
        @include flex(center, flex-start)
    }
}